<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="titulos">PARRAFO</h2>
  <p class="parrafo">La relatividad de Einstein muestra que todo depende del sistema donde sea vea. Einstein logra demostrar esta teoría cuando logra descubrir que la velocidad de la luz no es relativa sino absoluta. Por supuesto, esto genera una verdad en la ciencia: existen fenómenos absolutos y existen fenómenos relativos.</p>
</ion-content>
