ion-content ion-toolbar {
  --background: translucent;
}

/*TITULO*/
ion-title{
  color: #C705B7;
  font-weight: bold;
  text-align: center;
}

.nombres{
  text-align: center;
  font-weight: bolder;
}

.titulos{
  text-align: center;
  font-weight: bolder;
  color: #7604B3;
}
