ion-content ion-toolbar {
  --background: translucent;
}

ion-title{
  color: #F88E03;
  font-weight: bold;
  text-align: center;
}

ion-toolbar{
  --background: #000;
}

ion-content{
  --background: #636464;
}

.titulo{
  text-align: center;
  font-weight: bolder;
  color: #F88E03;
}